version: "3"

services:
  elasticsearch:
    build: elasticsearch/
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
      # disable X-Pack
      # see https://www.elastic.co/guide/en/x-pack/current/xpack-settings.html
      #     https://www.elastic.co/guide/en/x-pack/current/installing-xpack.html#xpack-enabling
      xpack.security.enabled: "false"
      xpack.monitoring.enabled: "false"
      xpack.graph.enabled: "false"
      xpack.watcher.enabled: "false"
    networks:
      - fishtanksuite
  logstash:
    build: logstash/
    volumes:
      - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ./logstash/pipeline:/usr/share/logstash/pipeline
    ports:
      - "5000:5000"
    networks:
      - fishtanksuite
    depends_on:
      - elasticsearch
  kibana:
    build: kibana/
    volumes:
      - ./kibana/config/:/usr/share/kibana/config
    ports:
      - "5601:5601"
    networks:
      - fishtanksuite
    depends_on:
      - elasticsearch
  rabbitmq:
      image: "rabbitmq:management"
      environment:
        RABBITMQ_DEFAULT_USER: "rabbitmq"
        RABBITMQ_DEFAULT_PASS: "rabbitmq"
        RABBITMQ_DEFAULT_VHOST: "/"
      ports:
        - "15672:15672"
        - "5672:5672"
      networks:
        - fishtanksuite
      depends_on:
        - logstash
  pufferfish:
      build: "pufferfish/"
      ports:
        - "1344:1344"
      networks:
        - fishtanksuite
      depends_on:
        - rabbitmq
  triggerfish:
      build: "triggerfish/"
      networks:
        - fishtanksuite
      depends_on:
        - elasticsearch
  piranhafish:
      build: "piranhafish/"
      environment:
        GITLAB_OMNIBUS_CONFIG: |
          external_url 'http://127.0.0.1'
      ports:
        - "80:80"
        - "443:443"
        - "22:22"
      networks:
        - fishtanksuite
      depends_on:
        - elasticsearch
  mandarinfish:
    build: "squid/"
    privileged: true
    ports:
      - "3128:3128"
      - "3000:3000"
    networks:
      - fishtanksuite
    depends_on:
      - pufferfish

networks:
  fishtanksuite:
    driver: bridge
